.cards {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cor3);
    border-radius: 30px;
    box-shadow: 0 2px 10px 4px var(--cor3);
    width: 320px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.cards:hover {
    transform: scale(1.02);
}

.idNome {
    color: white;
    font-family: Nerko One, cursive;
    font-size: 30px;
}

.continente, .populacao {
    color: white;
    font-family: Nerko One, cursive;
    margin: 5px;
    font-size: 22px;
}

.imagens {
    border-radius: 20px;
    box-shadow: 0 2px 10px 1px white;
    margin: auto;
}

@media (max-width: 768px) {
    .cards {
        width: 310px;
    }
    .imagens {
        height: 120px;
    }
}

@media (max-width: 480px) {
    .cards {
        width: 290px;
    }
    .imagens {
        width: 180px ;
        height: 100px;
    }
    .idNome {
        font-size: 26px;
    }
}
  
@media (max-width: 325px) {
    .cards {
        width: 250px;
    }
    .imagens {
      height: 90px;
    }
    .idNome {
        font-size: 25px;
    }
    .continente, .populacao {
        font-size: 18px;
    }
}