.titulo {
  color: white;
  font-family: Nerko One, cursive;
  font-size: 40px;
  text-align: center;
}

.input {
  border-radius: 20px;
  height: 40px;
  width: 300px;
  box-shadow: 3px 3px 5px white;
  font-size: 15px;
  padding: 2px;
}

.inputDiv {
  width: 550px;
  margin: auto;
  text-align: center;
  border: 2px solid var(--cor3);
  border-radius: 40px;
  box-shadow: 3px 5px 8px var(--cor3);
  padding: 15px;
}
